.weather-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
}
h2 {
  font-size: 2rem;
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.temperature {
  font-weight: bold;
  font-size: 2.5rem;
}

.description {
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.details {
  display: flex;
  justify-content: space-around;
}
